*{
    -fx-font-family: 'Open Sans', sans-serif;
}

/*
-------------------
Navigation Buttons
-------------------
*/

.navigation:hover{
    -fx-cursor: hand;
}

.-main-container{
    -fx-min-width: 800;
    -fx-min-height: 440;
    -fx-padding: 10;
    -fx-spacing: 10;
}

.center{
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.top-center{
    -fx-alignment: top-center;
}

.spacing-small{
    -fx-spacing: 10;
}

.spacing-medium{
    -fx-spacing: 15;
}

.padding-small {
    -fx-padding: 5;
}

.padding-medium {
    -fx-padding: 15;
}

.padding-large {
    -fx-padding: 25;
}
/*
----------------
Headers & Titles
----------------
*/

.header-container {
    -fx-background-color: #34495E;
    -fx-background-radius: 10;
    -fx-padding: 5 20;
    -fx-alignment: center;
    -fx-spacing: 10;
}

.header-container .header-label{
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.title-container{
    -fx-alignment: center;
    -fx-spacing: 10;
    -fx-padding: 3 0;
    -fx-background-radius: 10;
    -fx-background-color: #ECF0F1;
}

.title-container .label{
    -fx-text-fill: #34495E;
    -fx-font-weight: bold;
}

.module-container{
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-background-color: #D5D8DC;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-alignment: top-center;
}

.body-container{
    -fx-background-color: #D5D8DC;
    -fx-padding: 20;
    -fx-background-radius: 10;
    -fx-alignment: top-center;
}

.module{
    -fx-alignment: center;
    -fx-spacing: 5;
    -fx-padding: 20;
    -fx-cursor: hand;
    -fx-border-width: 3;
    -fx-background-color: #40534C;
    -fx-border-color: #fff;
    -fx-border-radius: 10;
    -fx-background-radius: 12;
}

.module:hover{
    -fx-background-color: rgba(152, 141, 141, 0.42);
    -fx-opacity: 10;
    -fx-border-color: #5b5b5b;
}

.module .label{
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
}

