* {
    -fx-font-family: 'Open Sans', sans-serif;
}

.main-width{
    -fx-min-width: 800;
}

.header-height{
    -fx-min-height: 100;
}

.spacing{
    -fx-spacing: 3;
}

.footer-height{
    -fx-min-height: 35;
}

.navy-blue {
    -fx-background-color: #34495E;
}

.center {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.label-white {
    -fx-text-fill: #fcfcfc;
}

.label-large {
    -fx-font-size: 18.0;
}

.label-medium {
    -fx-font-size: 16.0;
}

.label-regular{
    -fx-font-size: 12.0;
}

.label-small {
    -fx-font-size: 10.0;
}

.bold{
    -fx-font-weight: bold;
}

.line-white {
    -fx-stroke: #fcfcfc;
}

.space-small {
    -fx-spacing: 5;
}

.space-medium {
    -fx-spacing: 10;
}

.profile-container{
    -fx-alignment: center;
    -fx-spacing: 10;
}

.green{
    -fx-text-fill: #4fdd39;
}

.red{
    -fx-text-fill: #f44336;
}