* {
    -fx-font-family: 'Open Sans Bold', sans-serif;
}

.header {
    -fx-background-color: #34495E;
}

.label-white {
    -fx-text-fill: #fcfcfc;
    -fx-font-family: "Open Sans";
}

.label-large {
    -fx-font-size: 18.0;
    -fx-font-weight: 800;
}

.label-medium {
    -fx-font-size: 16.0;
}

.line-white {
    -fx-stroke: #fcfcfc;
}

.footer-box {
    -fx-background-color: #34495E;
    -fx-min-height: 40.0;
    -fx-min-width: 800.0;
}

.footer-label {
    -fx-text-fill: WHITE;
    -fx-font-family: "Open Sans";
    -fx-font-size: 17.0;
    -fx-pref-height: 25.0;
    -fx-pref-width: 485.0;
    -fx-alignment: CENTER;
    -fx-font-weight: 800;
}

.profile-container{
    -fx-alignment: center;
    -fx-spacing: 10;
}

